<!DOCTYPE html>
<html lang="es-en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>TutorUMM | Dashboard Usuario</title>
        <link rel="stylesheet" href="../styles/mainPageUserStyles.css">
    </head>
    <body>
        <header>
            <div class="mainContainerHeader">
                <p class="logoPrincipal">TutorUMM</p>
                <div class="mainContainerUserBanner">
                    <div>
                        <figure>
                            <img src="" alt="">
                            <figure>
                                <p></p>
                                <p></p>
                            </figure>
                        </figure>

                    </div>


                </div>

            </div>

        </header>
        <main>

        </main>
    </body>
</html>