<!DOCTYPE html>
<html lang="es-en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>TutorUMM | Dashboard Usuario</title>
        <link rel="stylesheet" href="../styles/mainPageUserStyles.css">
    </head>
    <body>
        <header>
            <div class="mainContainerHeader">
                <h1 class="logoPrincipal">TutorUMM</h1>
                <div class="mainContainerUserBanner">
                    <div>
                        <figure>
                            <img src="../assets/icons/misc/icon_person.svg" alt="icono persona">
                            <figure>
                                <p>Nombre Usuario</p>
                                <p>Carrera Usuario</p>
                            </figure>
                        </figure>
                        <figure>
                            <img src="../assets/icons/misc/icon_down_array.svg" alt="icono flecha abajo">
                        </figure>
                    </div>
                </div>

            </div>

        </header>
        <main>
            <section class="mainContainerSeguimientoTutoria">
                <div>
                    <a href="/">Continuar >></a>
                    <div>
                        <p>Nombre de curso</p>
                        <p>Persona que imparte la tutoria</p>
                    </div>
                </div>
            </section>

            <div class="mainContainerTutoresLecciones">
                <section class="mainContainerLeccionesRecientes">
                    <div>
                        <h3>Lecciones Recientes</h3>
                    </div>
                    <div>
                        <figure>
                            <img src="../assets/icons/logo_careers/Logo_LTI.svg" alt="Icono LTI">
                            <figcaption>LTI</figcaption>
                            <figcaption>Pedro picapiedra</figcaption>
                            <figcaption></figcaption>
                        </figure>
                        <figure>
                            <img src="../assets/icons/logo_careers/Logo_IIS.svg" alt="Icono IIS">
                            <figcaption>IIS</figcaption>
                            <figcaption>John doe</figcaption>
                            <figcaption></figcaption>
                        </figure>
                        <figure>
                            <img src="../assets/icons/logo_careers/Logo_IAS.svg" alt="Icono IAS">
                            <figcaption>IAS</figcaption>
                            <figcaption>John doe</figcaption>
                            <figcaption></figcaption>
                        </figure>
                        <figure>
                            <img src="../assets/icons/logo_careers/Logo_IMA.svg" alt="Icono IMA">
                            <figcaption>IMA</figcaption>
                            <figcaption>John doe</figcaption>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </section>

                <section class="mainContainerTutores">
                    <div>
                        <h3>Tutores</h3>
                    </div>

                    <div>
                        <figure>
                            <img src="../assets/icons/misc/" alt="">
                            <figcaption>John Doe</figcaption>
                            <figcaption>LTI</figcaption>
                        </figure>
                        <figure>
                            <img src="" alt="">
                            <figcaption>John Doe</figcaption>
                            <figcaption>IAS</figcaption>
                        </figure>
                        <figure>
                            <img src="" alt="">
                            <figcaption>John Doe</figcaption>
                            <figcaption>IMA</figcaption>
                        </figure>
                        <figure>
                            <img src="" alt="">
                            <figcaption>John Doe</figcaption>
                            <figcaption>IIS</figcaption>
                        </figure>
                    </div>
                </section>
            </div>
       </main>
    </body>
</html>