<!DOCTYPE html>
<html lang="es-en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>TutorUMM | Tutores</title>
        <link rel="stylesheet" href="../../styles/generalRulesHeaderUser.css">
    </head>
    <body>
        <header>
          <div class="mainContainerHeader">
                <h1 class="logoPrincipal">TutorUMM</h1>
                <div class="mainContainerUserBanner">
                    <figure class="containerInformationUser">
                        <div class="profilePhoto">
                            <img src="../../assets/icons/misc/icon_person.svg" alt="icono persona">
                        </div>

                        <div>
                            <figcaption>
                                <p>John Doe</p>
                                <p>LTI</p>
                            </figcaption>
                        </div>
                   </figure>
                    <figure class="mainContainerDownArrayIcon">
                        <img src="../../assets/icons/misc/icon_down_array.svg" alt="icono flecha abajo">
                    </figure>
                </div>
            </div>
        </header>
        <main>

        </main>
    

    </body>
</html>