@import "./generalRules.css";
@import "./generalRulesHeader.css";

/*HEADER*/

.mainContainerHeader .logoPrincipal {
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.mainContainerHeader .mainContainerUserBanner {
    display: flex;
    align-items: center;
    padding: 5px;
    outline: 1px solid #FFFFFF;
    border-radius: 5px;
} 

.mainContainerHeader .mainContainerUserBanner .containerInformationUser {
    display: flex;
    align-items: center;
}

.mainContainerHeader .mainContainerUserBanner .containerInformationUser .profilePhoto {
    margin-right: 12px;
}

.mainContainerHeader .mainContainerUserBanner .mainContainerDownArrayIcon {
    margin-left: 12px;
    cursor: pointer;
} 

/* MAIN */

.mainContainerSeguimientoTutoria {
    margin: 20px 10px 0 10px;
    padding: 20px 0;
    background-color: rgba(255, 0, 44, .1);;
    color: var(--color-principal);
    font-weight: 600;
    border-radius: 5px; 
    outline: 1px solid var(--color-principal);
}

.mainContainerSeguimientoTutoria div {
    display: flex;
    gap: 50px;
} 

.mainContainerSeguimientoTutoria div a:first-child  {
    color: var(--color-principal);
    margin-left: 35px;
    transition: .2s background-color ease;
    padding: 5px;
    border-radius: 5px;
}

.mainContainerSeguimientoTutoria div a:first-child:hover {
    background-color: var(--color-principal);
    color: #FFFFFF;
}

.mainContainerTutoresLecciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px 10px 0 10px;
}

.mainContainerTutoresLecciones .mainContainerLeccionesRecientes {
    margin: 15px;
    padding: 15px;
    outline: 1px solid var(--color-principal);
    background-color: rgba(255, 0, 44, .1);
    color: var(--color-principal);
    border-radius: 5px;
}

.mainContainerTutoresLecciones .mainContainerLeccionesRecientes .mainLeccionRecienteComponente{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid var(--color-principal);
    cursor: pointer;
}

.mainContainerTutoresLecciones .mainContainerTutores {
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-color: rgba(255, 0, 44, .2);
    color: var(--color-principal);
    outline: 1px solid var(--color-principal);
    border-radius: 5px;
}

.mainContainerTutoresLecciones .mainContainerTutores .mainContainerTutoresBanners .mainTutorComponente {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid red;
    cursor: pointer;
}

.mainContainerTutoresLecciones .mainContainerTutores .mainContainerTutoresBanners  .mainTutorComponente div:first-child{
    margin-right: 27px;
}
