:root {
    --color-principal: #FF002C;
    --tipoLetra-Principal: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    font-family: var(--tipoLetra-Principal);
    margin: 0;
}

/* HEADER */

.mainContainerHeader {
    padding: 25px;
    background-color: var(--color-principal);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContainerHeader .logoPrincipal{
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.mainContainerHeader ul {
    display: flex;
    gap: 25px;
    font-weight: 600;
}

.mainContainerHeader ul li {
    padding: 5px;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.mainContainerHeader ul li:hover {
    cursor:default;
    background-color: #FFFFFF;
    color: var(--color-principal);
}

/* MAIN */

.mainContainerMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerBannerLogin #loginForm{
    display: flex;
    flex-direction: column;
}

/* FOOTER */

.containerFooter {
    background-color: var(--color-principal);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.containerFooter .logoFooter {
    padding-left: 45px;
}